<html>
	<title>{{ greeting_msg }}</title>
	<body>
		<h3>Automation tool used is {{ automation_tool }} </h3>
		<h3>Provisioner tool used is {{ provisioner_tool }} </h3>
		<h4>Host {{ inventory_hostname }} </h4>
	</body>
</html>
